.form-container {
  margin: 40px 3%;
  ion-input {
    --padding-start: 10px;
    --border-color: #DADADA;
    margin: 15px 0 0;
    align-items: center;
    color: #818181;
  }
  ion-input ion-label {
    color: #A6A6A6;
  }
  ion-input ion-icon {
    color: #c6cbd4;
    font-size: 25px;
  }
  ion-button {
    height: 45px;
    text-transform: capitalize;
    --background: linear-gradient(120deg, #f9b47c 0%, var(--ion-color-primary) 100%);
  }
  .login-button{
    font-weight: bold;
    font-size: 16px;
    margin: 60px 0 10px 0;
    text-align: center;
  }
  ion-button.remove-bg{
    --background: transparent;
    text-decoration: underline;
    --box-shadow: none;
    color: var(--ion-color-secondary);
    text-align: center;
    margin-bottom: 15px;
  }
  .inscrire-button{
    color: #f15704 !important;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }
}
.sign-up {
  justify-content:center;
  align-items: center;
  color: #818181 ;
  text-align: center;
  p{
    margin: -10px;
  }
}

