<app-visitor-header></app-visitor-header>

<ion-content class="ion-padding">
  <p class="text-forgot">Enter Email Address</p>
  <div class="form-container">
    <form [formGroup]="forgotForm">
      <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Enter Email" color="warning" type="email" formControlName="email"></ion-input>
      <div *ngIf="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched">
        <ion-text class="error" color="danger" stacked>Email is required and must be a valid email</ion-text>
      </div>
      <ion-button expand="full" (click)="sendResetLink()" [disabled]="forgotForm.get('email')?.invalid || forgotForm.get('email')?.pending" shape="round" style="font-weight: bold;">Send Reset Link</ion-button>
    </form>

    <div class="sign-up">
      <p>Don't have an account?</p>
      <ion-button class="remove-bg inscrire-button" fill="clear" routerDirection="forward" (click)="openInscrirePage()">Sign up</ion-button>
    </div>
  </div>
</ion-content>
